/* Registrasi */
.registrasi{
	margin: 30px;
	margin-top: 51px;
	margin-bottom: 50px;
	padding: 30px;
	background-color: white;
	border-radius: 4%;
	box-shadow: 6px 9px 10px -2px gray;
}

.registrasi h1{
	text-align: center;
	font-weight: lighter;
	font-size: 20px;
}

/*penutup registrasi */

/*login */
.login{
	margin: 30px;
	margin-top: 82px;
	margin-bottom: 150px;
	padding: 30px;
	background-color: white;
	border-radius: 4%;
	box-shadow: 6px 9px 10px -2px gray;
}

.login h1{
	text-align: center;
	font-weight: lighter;
	font-size: 20px;
}

/*penutup login*/